.movie-detail-container {
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10vh;
    justify-content: center;
    /* align-items: center; */
    /* overflow-y: hidden;
    overflow-x: hidden; */
    /* height: 60vh; */
    /* background-color: aqua; */
}

.closing-button {
    display: flex;
    position: absolute;
    top: 7vh;
    left: 1vw;
}

.fav-button {
    display: flex;
    position: absolute;
    top: 7vh;
    right: 1vw;
}

#closing-button:hover {
    cursor: pointer;
}

.movie-detail-inner-container {
    display: flex;
    height: 45vh;
    width: 45vw;
    /* background-image: radial-gradient(#320037, #0b0010);
    border: #210023 5px solid; */
    padding: 30px;
    margin: 10px;
    border-radius: 25px;
}

#movie-detail-poster {
    border-radius: 25px;
    height: 100%;
}

.movie-detail-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 2vh 3vh;
    /* border: solid red; */
    
}

#movie-detail-title {
    font-size: 30px;
    font-style: italic;

    text-shadow: 10px 10px 10px black;
    text-align: center;
    
    margin: 0;
    /* border: solid black; */
}

.movie-detail-description { 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 100%;
    /* background-color: red; */
}

.movie-detail-d2 {
    margin-top: 30px;
    display: flex;
    font-size: 20px;
    /* border: solid black; */
    justify-content: space-between;   
}

.movie-detail-d2-children {
    display: flex;
    justify-content: center;

    /* border: blue solid; */
    width: 33%;
}

.movie-detail-overview {
    display: block;
    text-indent: 30px;
    /* border: solid red; */
    font-size : 20px;
    height: 100%;
    overflow-y: auto;
    /* font-size: 25px; */
}